.composition {
  background-color: $bgRight;
  z-index: 9;
  border-radius: 2.5rem 2.5rem 0 0;
  margin-top: -5vh;
  margin-bottom: -5vh;
  position: relative;
  min-height: 60vh;
  height: initial !important;
  padding-block: 5vh 10vh;
  @for $i from 1 through 6 {
    .item-#{$i} {
      transition: opacity 0.2s ease-in #{0.7 + ($i - 1) * 0.2 + 0.05}s,
      box-shadow 0.6s ease-in #{1.2 + ($i - 1) * 0.2 + 0.05}s !important;
    }
  }
  &__content {
    min-height: 50vh;
    display: flex;
    justify-content: space-evenly;
    padding-block: 15px;
  }
  &__image { 
    row-gap: 2rem;
    width: 30%;
    filter: drop-shadow(5px 5px 120px rgba(36, 65, 93, 0.7));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
    &::before {
      content: 'composition';
      position: absolute;
      z-index: 9999;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 3rem;
      text-transform: uppercase;
      font-family: Sofia;
        /* color: $bgLeft; */
        /* text-shadow: 2px 2px 5px $fontDark; */
      font-weight: 900;
      color: $fontLight;
      text-shadow: rgba(36, 65, 93, 0.3) 0px 0px 0px, rgba(255, 255, 255, 1) -0px -0px 0px, rgba(255, 255, 255, 1) -0px -0px 0px,
      inset rgba(36, 65, 93, 0.3) 2px 2px 4px, inset rgba(255, 255, 255, 1) -2px -2px 5px;
      border: 0px rgba(225, 226, 232, 0) solid;
    }
    img {
      width: 80%;
      max-height: 100%;
      position: relative;
      object-fit: contain;
    }
  }
  &__tip {
    position: absolute;
    width: 70%;
    height: 15%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer !important;
    opacity: 1;
    display: grid;
    place-items: center;
    &::after {
      content: 'click';
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      font-family: Sofia;
      font-size: 1.2rem;
      color: $bgLeft;
    }
  }
  &__arrow {
    position: relative; //
    width: 30px;
    height: 30px;
    top: 0%; // 10%
    margin: -20px 0 0 -20px;
    transform: rotate(45deg) translate(50%, 0); //
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    left: 0; //50%
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      width: 15px;
      height: 15px;
      top: 50%;
      margin: -10px 0 0 -10px;
      border-left: none;
      border-top: none;
      border-right: 1px #fff solid;
      border-bottom: 1px #fff solid;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-name: arrow
    }
  }
  &__trigger{
    position: absolute;
    border: 1px red solid;
    width: 70%;
    z-index: 999;
    height: 15%;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer !important;
    opacity: 0;
  }
  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    gap: 3vh;
    width: 35%;
    max-width: 150px;
    max-height: 80%;
    &.row-1 {
    order: 1;
    }
    &.row-2 {
    order: 3;
    }
  }
  &-item {
    @include element-style;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
    padding: calc(clamp(0.3em, 1.4vw, 0.5em));
    width: 100%;
    flex: 0 1 auto;
    z-index: 99999999;
    text-align: center;
    &.-hidden {
      opacity: 0;
      box-shadow: rgba(36, 65, 93, 0.3) 0px 0px 0px, rgba(255, 255, 255, 1) -0px -0px 0px, rgba(255, 255, 255, 1) -0px -0px 0px;
    }
    &__image {
      position: relative;
      background: $bgRight;
      flex:  1 1 auto;
      @include element-style;
      place-self: center;
      width: 100%;
      aspect-ratio: 1;
      display: block;
      border-radius: 50%;
      margin-bottom: calc(clamp(0.3em, 1.4vw, 0.5em));
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        background: url('../img/oxxxy.png') center / cover no-repeat;
        box-shadow: rgba(36, 65, 93, 0.3) 0px 0px 0px, rgba(255, 255, 255, 1) -0px -0px 0px, rgba(255, 255, 255, 1) -0px -0px 0px,
          inset rgba(36, 65, 93, 0.3) 4px 4px 8px, inset rgba(255, 255, 255, 0.8) -4px -4px 10px;
      }
    }
    &__name {
      font-weight: 900;
      position: relative;
    }
    &__text {
      font-size: 10px;
    }
  }
}

.-top {
  align-self: start;
}
.-center {
  align-self: center;
}
.-bottom {
  align-self: end;
}

@media (max-width: 767.98px) {
  .composition {
    &__content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__tip {
      top: -20%;
      display: grid;
      place-items: center;
      transform: translate(-50%, -50%);
      &::after{
        top: -50%;
      }
    }
    &__arrow {
      position: relative;
      transform: rotate(45deg) translate(50%, 0%);
      transform-origin: center;
      left: 0;
      top: 0;
    }
    &__item {
      max-width: 150px;
      width:30%;
    }
    &__row {
      flex-direction: row;
      width: 100%;
      gap: 2vw;
      /* width: 25vw; */
      max-width: 100%;
      justify-content: space-between;
      position: relative;
      z-index: 99;
      &.row-1{
        align-items: center;
        /* justify-content: space-around; */
        order: 1;
        margin-bottom: 3vh;
      }
      &.row-2{
        align-items: center;
        /* justify-content: space-around; */
        order: 2;
      }
    }
    &__image {
      order: 3;
      &::before {
        top: 75%;
        visibility: hidden;
        transform: translate(-50%, -50%);
      }
    }
  }
}

