// font
$fontMain: #656565;
$fontDark: #575f6b;
/* $fontLight: #273850; */
$fontLight: rgba(39, 56, 80, 0.2);
$fontWhite: #ffffff;

//bg grad
$bgLeft: #f8f8fc;
$bgRight: #e1e2e8;

//accent
$accentOrange: #ff5634;
$accentGrey: #cacaca;
$accentBorder: #ededed;

//backgrounds
$bgBlack: $fontDark;
$bgOrange: $accentOrange;
$bgLightGrey: #fafafa;
$fontAccent: $accentOrange;

//pen 
$code-red: #AE1100;
$code-bg: #EBECF0;
$code-shadow: #BABECC;
$code-white: #FFF;
